*{
    margin: 0;
    padding: 0;
}

body{
    background: #1F1D1D;
    font-family: '微软雅黑';
    line-height:180%;
    font-size:14px;
}
.clear{clear: both;}
.pull-left{
    float:left;
}
.pull-right{
    float:right;
}

#msgListContainer{
    width: 100%;
    height: 100%;
    padding: 35px 13px 100px;
    box-sizing: border-box;
    overflow:auto;
}

#msgListContainer .message{
    width: 100%;
    word-break:break-all;
    padding: 16px 0px 3px 0px;
    color:rgba(255,255,255,0.7);
}
.right-content-box{
    display:block;
    width:100%;
}

#chatTitle{
    position: fixed;
    width: 100%;
    background: #1F1D1D;
}

.titleTip{
    color:greenyellow;font-size: 15px;line-height: 30px;
}

#msgListContainer .time{
    text-align: center;
    color: #cccccc;
    font-size: 10px;
    font-style: italic;
    height:12px;
    line-height: 12px;
    padding:3px 0 0 0;
}

#msgListContainer .color1{
    color: #C7C666;
}
#msgListContainer .send{
    border: 1px solid #757557;
}
#msgListContainer .color2{
    color: #CE8CCD;
}

#msgListContainer .receive{
    border: 1px solid #6B596B;
}

.msgListContainer .name{
    height:14px;
    line-height: 14px;
    display:block;
    padding:0 0 5px 0;
}
.msgListContainer .content{
    display:block;
}

.msgListContainer .msgLeftItem .content {
    /*border: 1px solid #757557;*/
    border-radius: 5px;
    padding-left: 4px;
    padding-right: 15px;
    float: left;
    max-width: 80%;
}

.msgListContainer .msgLeftItem{
    /*max-width: 80%;*/
}
.msgListContainer .msgRightItem{
    /*max-width: 80%;*/
}

.msgListContainer .msgRightItem .name{
    display:block;
    width:100%;
    text-align: right;
    padding:0 0 5px 0;
}
.msgListContainer .msgRightItem .content{
    display:block;
    padding:0 0px 0 15px;
    /*border: 1px solid #6B596B;*/
    border-radius: 5px;
    padding-right: 4px;
    max-width: 80%;
}

.chatTitle .left{
    display: inline-block;
    width: 25%;
    float: left;
    height: 30px;
    text-align: center;
    color: white;
    line-height: 30px;
    font-size: 18px;
}
.chatTitle .right{
    display: inline-block;
    width: 25%;
    float: left;
    height: 30px;
    text-align: center;
    color: white;
    line-height: 30px;
    font-size: 18px;
}
.chatTitle .titleTip{
    display: inline-block;
    width: 50%;
    float: left;
    text-align: center;
}

.msgListContainer .sendTip{
    word-break: normal;
    font-size: 10px;
    padding-left: 8px;
    color: #cccccc;
    /*font-style: italic;*/
}

.msgListContainer .receiveTip{
    word-break: normal;
    font-size: 10px;
    padding-right: 8px;
    color: #cccccc;
    /*font-style: italic;*/
}


.footer{
    width: 100%;
    height: 25px;
    font-size: 12px;
    line-height: 25px;
    background: #cccccc;
    position: fixed;
    bottom: 0;
    left: 0;
}